@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #2f302c;
	font-weight: 700;
	line-height: 1.4;
}
h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
}
[class*="__container"] {
	max-width: 1000px;
	margin: 0 auto;
}
/* header */

.header {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	background-color: #7a956b;
}
.header__container {
}
.header__logo {
	display: inline-block;
	margin-right: 140px;
	max-width: 30px;
}
.logo-header {
}
.logo-header__link {
}
.header__menu {
	display: inline-block;
}
.menu-header {

}
.menu-header__list {

}
.menu-header__item {
	display: inline-block;
	position: relative;
}

.menu-header__item:hover .menu-header__link {
	background-color: #b6c48c;
}
.menu-header__item:hover .second-menu {
	opacity: 1;
	visibility: visible;
}

.menu-header__item:not(:last-child) {
	margin-right: 20px;
}
.menu-header__link {
	font-size: 18px;
	padding: 10px;
	transition: all 0.3s;
}

.second-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 180px;
	background-color: #b6c48c;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.second-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.second-menu__item {
	position: relative;
}
.second-menu__link {
	
}
.second-menu__link:hover {
	text-decoration: underline;
}

.second-menu__item:hover .third-menu {
	opacity: 1;
	visibility: visible;
}

.third-menu {
	position: absolute;
	left: 100%;
	top: 0;
	width: 150px;
	background-color: #b6c48c;
	opacity: 0;
	visibility: hidden;
}

.third-menu__link:hover {
	text-decoration: underline;
}

/* section */


.section {
	padding: 20px 0;
}

.section__list {
	
}
.list-section {
	
}
.list-section__item {
	width: 200px;
	height: 200px;
	margin: 20px;
	background-color: #7a956b;
	display: inline-block;
	position: relative;
	z-index: 0;
}
.list-section__block {
	width: 100px;
	height: 100px;
	background-color: #b6c48c;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
	transition: all 0.5s;
	backface-visibility: hidden;
}

.list-section__item:nth-child(1):hover .list-section__block {
	transform: translate(50%,50%);
}
.list-section__item:nth-child(2):hover .list-section__block {
	transform: scale(2,3);
}

.list-section__item:nth-child(3):hover .list-section__block {
	transform: rotate(-45deg);
}
.list-section__item:nth-child(3):hover .list-section__block {
	transform: rotate(-45deg);
}
.list-section__item:nth-child(4):hover .list-section__block {
	transform: skewX(-45deg)
}
.list-section__item:nth-child(5):hover .list-section__block {
	transform: matrix(1, 2, 5, 1, 10, 50);
}
.list-section__item:nth-child(6):hover .list-section__block {
	transform: translate(30px, 30px) rotate(90deg) scale(2);
}
.list-section__item:nth-child(7):hover .list-section__block {
	/* transform-origin: center; */
	/* transform-origin: top right; */
	transform-origin:20% 30% ;
	transform: rotate(180deg);
}

.list-section__item--3d {
	perspective: 500px;
	perspective-origin: center;
}

.list-section__item--preserve-3d {
	/* transform-style: preserve-3d; */
	transform-style: flat;
	/* backface-visibility: visible; */
}

.list-section__item:nth-child(8):hover .list-section__block {
	/* transform: rotate3d(100, 40, 80, 60deg); */
	/* transform: rotateY(30deg); */
	/* transform: rotate3d(50, 50, 300, 50deg); */
	/* transform: translate3d(20px, 20px, 40px) rotate3d(1, 1, 1, 20deg); */
	transform: rotate3d(1, 1, 1, 50deg);
}
.list-section__item:nth-child(9):hover .list-section__block {
	transform: translate3d(30px, 40px, 30px);
}
.list-section__item:nth-child(10):hover .list-section__block {
	transform: scale3d(1.5, 1.5, 1.5);
}
.list-section__item:nth-child(11):hover .list-section__block {
	transform: rotate3d(1, 1, 1, 45deg);
}
.list-section__item:nth-child(12):hover .list-section__block {
	transform: translate3d(30px, 30px,30px) rotate3d(1,1,1,30deg);
}
.list-section__item:nth-child(13):hover .list-section__block {
	transform: rotateY(150deg);
}


.tractor {
	position: relative;
	padding-top: 100px;
	width: 300px;
	left: 50%;
	top: 40%;
	transform: rotate(-30deg);
	animation: tractor 10s linear backwards infinite alternate;
}


@keyframes tractor {
	0% {
	left: 50%;
	top: 40;
	rotate: (-30deg);
	}

	40%{
		left: 61%;
		top: 26%;
		transform: rotate(-45deg);
	}
	70% {
		left: 73%;
		top: 0;
		transform: rotate(-50deg);
	}
	90% {
		left: 86%;
		top: -16%;
		transform: rotate(56deg);
	}

	100% {
		left: 91%;
		top: 138%;
		transform: rotate(91deg);
	}

}

.tractor .body {
	width: 200px;
	height: 70px;
	background-color: #2f302c;
	border-radius: 6px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.tractor .cabin {
	position: absolute;
	width: 100px;
	height: 60px;
	background-color: #656761;
	border-radius: 5px 5px 0 0;
	border: 2px solid #fff;
	top: -48px;
	left: 35px;
}

.tractor .cabin::after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 30px;
	background-color: #656761;
	position: absolute;
	bottom: 0;
	right: -130px;
}

.tractor .cabin::before {
	content: '';
	width: 40px;
	height: 40px;
	position: absolute;
	border: 3px solid #000;
	left: 50px;
	top: 20px;
}
.weels {
}

.weel {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: #7a956b;
	border-radius: 50%;
	outline: 10px dashed #000;
	animation: weels 1.5s linear infinite;
}

.weel::after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #000;
	top: 50%;
	right: 50%;
	margin-top: -10px;
	margin-right: -10px;
	border-radius: 50%;
}

.weel + .weel {
	width: 50px;
	height: 50px;
	right: 0;
}

footer {
	padding: 100px;
}

.footer__container {
	background-image: url(../img/mountain.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	background-position: 30% 0;
}


@keyframes weels {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 360deg;
	}
};
