@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	color:  #7e7f7c;
	background-color: #7e7f7c;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > .main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1422px;
	padding-left: 15px;	
	padding-right: 15px;
	margin: 0 auto;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 96px;
	color: #2f302c;
	line-height: 1.04167;
}
h2 {
	font-weight: 800;
	font-size: 32px;
	color: #2f302c;
}



/* header */

.header {
	background-color: #fff;
}
.header__container {
	min-height: 164px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	gap: 80px;
}

.header__logo {
}
.header__image-logo {
	max-width: none;
	width: 200px;
}
.header__search {
	flex-basis: 264px;
}
.search-header {
	display: flex;
	overflow: hidden;
	border-bottom: 1px solid #d4d4d4;
}
.search-header__button {
	width: 15px;
	background: url(../img/icons/search.svg) no-repeat left;
	flex-shrink: 0;
}
.search-header__input {
	height: 43px;
	padding: 0 15px;
}
.header__menu {
	flex-grow: 1;
}
.menu {
}
.menu__body {
}
.icon-menu {
	display: none;
}
.menu__list {
	display: flex;
	align-items: center;
	gap: 8px 44px;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__link,.action-header__link {
	font-weight: 700;
	line-height: 1.25;
	color: #2f302c;
}
.menu__link{}
.header__action {
}
.action-header {
	display: flex;
	gap: 44px;
}
.action-header__item {
}
.action-header__link {
	padding-left: 22px;
	display: block;
}
.action-header__link--love {
	background: url(../img/icons/heart.svg) left no-repeat;
}
.action-header__link--cart {
	background: url(../img/icons/bag.svg) left no-repeat;
}

@media(width <= 1422px){
	.header__container{
		min-height: 120px;
		gap:40px
	}
	.menu__list,
	.action-header {
		gap: 8px 25px;
	}
	.menu__list {
		justify-content: center;
	}
}

@media (width <= 1200px) {
	.header__search {
		flex-basis: 190px;
	}
}

@media(width <= 992px) {
	.header__container{
		min-height: 100px;
		gap: 30px;
	}
	.header__logo {
		width: 37px;
		flex-shrink: 0;
		overflow: hidden;
	}
	.menu__list,
	.action-header {
		gap: 8px 17px;
	}
}

@media (width < 768px) {
	.header__container{
		min-height: 70px;
	}
	.icon-menu,
	.header__logo,
	.header__search,
	.header__action{
		position: relative;
		z-index: 3;
	}
	.icon-menu {
		display: block;
		width: 30px;
		flex-shrink: 0;
		height: 18px;
	}
	.icon-menu::after,
	.icon-menu::before,
	.icon-menu span {
		content: '';
		width: 30px;
		height: 2px;
		background-color: #2f302c;
		transition: all 1s;
		position: absolute;
		right: 0;
	}
	.icon-menu::after {
		top: 0;
	}
	.icon-menu::before {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}
	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background-color: #f6f6f6;
		z-index: 1;
		overflow: auto;
		transition: all 0.5s;
		padding: 130px 15px 30px 15px;
	}
	.menu::before{
		content: '';
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 0;
		background-color: #fff;
		transition: all 1s;
		z-index: 2;
	}
	.menu__list {
		flex-direction: column;
		row-gap: 28px;
		align-items: flex-end;
	}
	.menu__link{
		font-size: 26px;
	}
	.action-header__link {
		background-size: contain;
		width: 25px;
		aspect-ratio: 1;
		padding-left: 0;
		font-size: 0;
	}
	.header__search {
		flex-grow: 1;
	}
	[data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		translate: 0 50%;
		bottom: 50%;
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 0 -50%;
		top: 50%;
	}
	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}
}

@media (width < 480px) {
	.header__container {
		gap: 5px;
	}
	.header__logo {
		width: 28px;
	}
	.header__image-logo {
		width: 154px;
	}
	.search-header {
		border-radius: 5px;
		border: 1px solid #d4d4d4;
	}
	.search-header__button {
		display: none;
	}
	.search-header__input {
		padding-left: 5px;
		padding-right: 5px;
		height: 31px;
	}
}
/* ================ hero  */

.hero {
	background: url(../img/herobanner.jpg) no-repeat center / cover;
}
.hero__container {
	padding-top: 110px;
	padding-bottom: 110px;
}
.hero__content {
	max-width: 520px;
	margin-left: auto;
	margin-right: 130px;
}

.hero__content > * {
	margin-bottom: 20px;
}
.hero__suptitle {
	font-weight: 700;
}
.hero__title {
	position: relative;
	margin-bottom: 52px;
}

.hero__title::after{
	content: '';
	width: 308px;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: -16px;
	background-color: #2f302c;
}
.hero__subtitle {
	font-weight: 700;
}
.hero__suptitle,
.hero__subtitle {
	font-size: 20px;
	color: #2f302c;
}
.hero__desc {
	max-width: 375px;
}

@media(width <= 1422px){
	.hero__container {
		padding-top: 90px;
		padding-bottom: 90px;
	}
}

@media (width <= 1200px) {
	.hero__title{
		font-size: 80px;
	}
	.hero__content {
		margin: 0 auto;
	}
}
@media(width <= 992px) {
	.hero__title {
		font-size: 70px;
	}
	.hero__title::after {
		display: none;
	}
}

@media (width < 768) {
	.hero__title {
		font-size: 60px;
	}
	.hero__content > * {
		margin-bottom: 15px;
	}	
}
@media (width < 480px) {
	.hero__title{
		font-size: 50px;
	}
	.hero__content > * {
		margin-bottom: 10px;
	}
}


