@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color:  #2f302c;
	font-weight: 700;
	line-height: 1.25;
}
h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
}
h2 {
	font-weight: 800;
	font-size: 32px;
	line-height: 1.25;
	color: #2f302c;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > .main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1392px;
	margin: 0 auto;
}
/* header */

.header {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	background-color: #7a956b;
}
.header__container {
}
.header__logo {
	display: inline-block;
	margin-right: 140px;
	max-width: 30px;
}
.logo-header {
}
.logo-header__link {
}
.header__menu {
	display: inline-block;
}
.menu-header {

}
.menu-header__list {

}
.menu-header__item {
	display: inline-block;
	position: relative;
}

.menu-header__item:hover .menu-header__link {
	background-color: #b6c48c;
}
.menu-header__item:hover .second-menu {
	opacity: 1;
	visibility: visible;
}

.menu-header__item:not(:last-child) {
	margin-right: 20px;
}
.menu-header__link {
	font-size: 18px;
	padding: 10px;
	transition: all 0.3s;
}

.second-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 180px;
	background-color: #b6c48c;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.second-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.second-menu__item {
	position: relative;
}
.second-menu__link {
	
}
.second-menu__link:hover {
	text-decoration: underline;
}

.second-menu__item:hover .third-menu {
	opacity: 1;
	visibility: visible;
}

.third-menu {
	position: absolute;
	left: 100%;
	top: 0;
	width: 150px;
	background-color: #b6c48c;
	opacity: 0;
	visibility: hidden;
}

.third-menu__link:hover {
	text-decoration: underline;
}


/* featured */

.featured {
	padding: 82px 0;
}
.featured__container {
}
.featured__title {
	text-align: center;
	margin-bottom: 36px;
}
.featured__cards {
	display: flex;
	flex-wrap: wrap;
	column-gap: 36px;
	row-gap: 72px;
}
.featured__card {
}
.card-featured {
	flex: 0 1 380px;
	display: flex;
	flex-direction: column;
}
.card-featured__link-image {
}
.card-featured__image {
	margin-bottom: 32px;
	width: 100%;
	transition: all .3s;
}
.card-featured__image:hover {
	scale: 1.1;
}
.card-featured__body {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.card-featured__body > *:not(:last-child) {
	margin-bottom: 12px;
}
.card-featured__title {
	flex-grow: 1;
}
.card-featured__link-title {
	transition: all 0.3s;
}
.card-featured__link-title:hover {
	color: red;
}
.card-featured__rating {
}
.rating-card-featured {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 6px;
}
.rating-card-featured__item {
}
.rating-card-featured__image {
}
.card-featured__price p  {
	font-weight: 800;
	font-size: 20px;
	line-height: 1.4;
}


/* WHY */

.why {
	padding: 82px 0;
}
.why__container {
}
.why__title {
	text-align: center;
	margin-bottom: 72px;
}
.why__items {
	display: flex;
	flex-wrap: wrap;
	gap: 68px;
}
.why__item {
	flex: 1 1 30%;
}
.item-why {
}
.item-why__image {
	margin-bottom: 24px;
	text-align: center;
}
.item-why__body {
	text-align: center;
}
.item-why__body >*:not(:last-child){
	margin-bottom: 24px;
}
.item-why__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
}
.item-why__desc p {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #7e7f7c;;
}







.footer {
	padding: 20px 0;
}


