@import url("reset.css");
 

a {
	color: rgb(134, 171, 62);
}

.title {
	color: rgb(45, 45, 234);
}

.title span {
	color: rgb(212, 212, 118);
}

a#logo {
	color: red;
}

[class*="link"] {
	color: greenyellow;
}

.title + p {
	color: blue;
}

.text + .text {
	color: red;
}

.menu > .item {
	margin-bottom: 5px;
}
