@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--font-family);
	color: var(--primary-color);
	font-weight: 400;
	line-height: 1.4;
}


.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	overflow: clip;
}
.wrapper > .main {
	flex-grow: 1;
}
.main {

}

[class*="__container"] {
	max-width: 61.625rem;
	padding-left: 0.9375rem;	
	padding-right: 0.9375rem;
	margin: 0 auto;
}

:root {
	--font-family: "Playfair Display", sans-serif;
	--second-family: "Roboto", sans-serif;
	--primary-color: #fff;
	--second-color: #000;
}
.global--button {
	font-size: 0.8125rem;
	padding: 0.5625rem 0.9375rem;
	border: 1px solid var(--primary-color);
	transition: all .3s;
}
.global--button:hover {
	border-color: var(--second-color);
	color: var(--primary-color);
}


/* ======================= > header  */
.header.header--scroll-state {
	background-color: rgba(177, 81, 81, 0.5);
	backdrop-filter: blur(5px);
 }
.header {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	position: fixed;
	left: 0;
	right: 0;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.header__logo {
	font-size: 2.25rem;
	white-space: nowrap;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 2rem;
	transition: all .3s;
}
.menu__item {
}
.menu__link {
	white-space: nowrap;
}
.menu__link:hover {
	text-decoration: underline;
}
.icon-menu {
	display: none;
}
@media(width < 48em){

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		/* min-height: 15.625rem; */
		left: 100%;
		transition: all .3s;
		padding-top: 4rem;
	}
	.icon-menu {
		display: block;
		width: 1.875rem;
		flex-shrink: 0;
		height: 1.125rem;
		position: relative;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: all .3s;
		position: absolute;
		right: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu span {
		top: 50%;
		transform: translateY(-50%);
	}
	.menu__list {
		flex-direction: column;
		align-items: flex-end;
		row-gap: 0.625rem;
		background-color: rgba(177, 81, 81, 0.5);
		backdrop-filter: blur(5px);
	}
	[data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::after {
		rotate: -45deg;
		translate: 0 50%;
		bottom: 50%;
	}
	[data-menu-open] .icon-menu::before {
		rotate: 45deg;
		translate: 0 -50%;
		top: 50%;
	}
	[data-menu-open] .menu {
		left: 0;
		top: 34.5px;
	}
	}
	@media (width <= 500px) {
		.menu__list {
			flex-direction: row;
		}
	}


/* =================== > hero  */

.hero {
	min-height: 100svh;
	background: url(../img/bg-hero.jpg)  center / cover no-repeat;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.hero__container {
}
.hero__content {
	padding-top: 10.9375rem;
	max-width: 22.25rem;
	margin-left: auto;
}
.hero__content > *:not(:last-child) {
	margin-bottom: 0.51063em;
}
.hero__title {
	font-size: 2.9375rem;
}
.hero__content .hero__subtitle {
	font-size: 0.875rem;
	margin-bottom: 4.375rem;
}
.hero__btn {
}

@media(width < 48em){
	.hero__content {
		margin-left: 0;
	}
}


/* ========================== about  */


.about {
	padding-top: 5.3125rem;
	padding-bottom: 5.3125rem;
}
.about__container {
}
.about__title {
	font-size: 1.875rem;
}
.about__body {
	color: var(--second-color);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 9.375rem;
	margin-bottom: 8.125rem;
}
.about__text {
}
.text-about {
	flex: 0 1 28.125rem;
}
.text-about > *:not(:last-child) {
	margin-bottom: 2.1875rem;
}
.text-about__title {
	font-size: 30px;
}
.text-about__text {
}
.about__image {
	flex: 0 1 19.8125rem;
}
.about__link-block{
	text-align: center;
}
.about__link {
	padding: 0.5625rem 3.125rem;
	border-color: var(--second-color);
	color: var(--second-color);
}
.about__link:hover {
	border-color: #b7a1a1;
	color: #b7a1a1;
}

@media(width < 59.375em){
	.about {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.about__body {
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
		gap: 5rem;
	}
}

/* ============================= cosmetics  */

.cosmetics {
	color: var(--second-color);
	padding-top: 7.1875rem;
	padding-bottom: 7.1875rem;
}
.cosmetics__container {
	position: relative;
	z-index: -1;
}
.cosmetics__container::after,
.cosmetics__container::before {
	content: '';
	position: absolute;
	display: block;
	top: -7.1875rem;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--second-color);
}
.cosmetics__container::after{
	top: auto;
	bottom: -7.1875rem;
}
.cosmetics__title {
	text-align: center;
	font-size: 2.25rem;
	margin-bottom: 1.9375rem;
}
.cosmetics__menu {
	text-align: center;
}
.menu-cosmetics {
}
.menu-cosmetics__list {
	margin-bottom: 6.25rem;
}
.menu-cosmetics__list > *:not(:last-child){
	margin-bottom: 1.375rem;
}
.menu-cosmetics__item {
}
.menu-cosmetics__link {
}
.cosmetics__body {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(18.75rem, 1fr));
	justify-items: center;
	row-gap: 4.6875rem;
	margin-bottom: 7.1875rem;
}
.cosmetics__item {
	max-width: 12.5rem;
}
.cosmetitcs__image img {
	margin-bottom: 0.9375rem;
}

.cosmetitcs__image figcaption {
	font-size: 1.25rem;
}

.cosmetics__link-block {
	text-align: center;
}
.cosmetics__link {
	padding: 0.5625rem 3.125rem;
	border-color: var(--second-color);
	color: var(--second-color);
}

.cosmetics__link:hover {
	border-color: #b7a1a1;
	color: #b7a1a1;
}


/* ==================== footer  */

.footer {
	padding-top: 3.125rem;
	background: #b7a1a1;
	text-align: center;
	padding-bottom: 3.125rem;
}