@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #2f302c;
	font-weight: 700;
	line-height: 1.4;
}
h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 96px;
	line-height: 1.04167;
}

.section img {
	max-width: 400px;
}

header img + img  {
	max-width: 50px;
}