@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color:  #2f302c;
	font-weight: 700;
	line-height: 1.25;
}
h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
}
h2 {
	font-weight: 800;
	font-size: 32px;
	line-height: 1.25;
	color: #2f302c;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > .main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1392px;
	margin: 0 auto;
}
/* header */

.header {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	background-color: #7a956b;
}
.header__container {
}
.header__logo {
	display: inline-block;
	margin-right: 140px;
	max-width: 30px;
}
.logo-header {
}
.logo-header__link {
}
.header__menu {
	display: inline-block;
}
.menu-header {

}
.menu-header__list {

}
.menu-header__item {
	display: inline-block;
	position: relative;
}

.menu-header__item:hover .menu-header__link {
	background-color: #b6c48c;
}
.menu-header__item:hover .second-menu {
	opacity: 1;
	visibility: visible;
}

.menu-header__item:not(:last-child) {
	margin-right: 20px;
}
.menu-header__link {
	font-size: 18px;
	padding: 10px;
	transition: all 0.3s;
}

.second-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 180px;
	background-color: #b6c48c;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.second-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.second-menu__item {
	position: relative;
}
.second-menu__link {
	
}
.second-menu__link:hover {
	text-decoration: underline;
}

.second-menu__item:hover .third-menu {
	opacity: 1;
	visibility: visible;
}

.third-menu {
	position: absolute;
	left: 100%;
	top: 0;
	width: 150px;
	background-color: #b6c48c;
	opacity: 0;
	visibility: hidden;
}

.third-menu__link:hover {
	text-decoration: underline;
}


/* register */

.register {
	padding: 82px 0;
}
.register__container {
}
.register__title-text {
	text-align: center;
	margin-bottom: 82px;
}
.register__title {
	margin-bottom: 36px;
}
.register__subtitle {
	color: #7e7f7c;
}
.register__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 80px;
}
.register__item {
	flex: 1 1 45%;
}
.form-register {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.form-register__title {
	font-weight: 800;
	font-size: 32px;
	margin-bottom: 36px;
}
.form-register__subtitle-text {
	font-weight: 500;
	color: #7e7f7c;
}
.form-register__subtitle-link {
	text-decoration: underline;
	margin-bottom: 72px;
}
.form-register__subtitle-link:hover {
	text-decoration: none;
}
.form-register__logs-input {
	display: flex;
	column-gap: 40px;
}
.form-register__input {
	border-bottom: 1px solid #d4d4d4;
	flex: 1 1 48%;
	padding: 12px 0;
	margin-bottom: 40px;
}
.form-register__box-input {
	flex-grow: 1;
}

.form-register__input::placeholder {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
}
.item-register__banner {
	position: relative;
}
.item-register__text {
	position: absolute;
	left: 80px;
	bottom: 64px;
	max-width: 184px;

}

.item-register__text span {
	margin-bottom: 20px;
	display: inline-block;
	line-height: 1.25;
	padding: 4px 8px;
	color: #fff;
	border-radius: 4px;
	background-color: #ce0000;
}

.item-register__text p {
	font-weight: 800;
	font-size: 32px;
}

.form-register__button {
	padding: 12px 104px;
	background-color: #2f302c;
	color: #fff;
	max-width: 336px;
	margin-top: auto;
	border: 1px solid #2f302c;
	transition: all .5s;
}

.form-register__button:hover {
	background-color: #fff;
	color: #2f302c;;
}




/* FOOOTER */
.footer {
	padding: 20px 0;
}


