@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
}

.menu .item {
	font-weight: 700;
	font-size: 16px;
}

h1 {
	font-family: 'Roboto' , sans-serif;
	font-weight: 700;
	line-height: 1.8;
	font-size: 28px;
}

.section__primary  {
	font-family: 'Roboto' , serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 16px;
}

.section__second {
	font-family: 'Montserrat' , sans-serif;
	font-weight: 400;
	line-height: 1.7;
	font-size: 18px;
}

.section__second .title {
	font-weight: 600;
	line-height: 1.7;
	font-size: 20px;
}

.section__third .title {
	font-weight: 600;
	line-height: 1.7;
	font-size: 20px;
}

.title {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	font-style: italic;
	text-shadow: 9px 7px 8px rgba(148, 85, 85, 0.5);
	color: rgb(20, 98, 72);
}

.section__primary .desc {
	text-align: justify;
	text-decoration: underline;
	text-transform: capitalize;
}

.section__second .desc {
	text-align: center;
	text-decoration: overline;
	text-transform: lowercase;
	word-spacing: 5px;
}

.section__third .desc {
	text-align: right;
	text-decoration: line-through;
	text-transform: uppercase;
	white-space: nowrap;
}